<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<style type="text/css">
			body {
				font: normal 11px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
				color: #4f6b72;
				background: #E6EAE9
			}
			
			a {
				color: #c75f3e
			}
			
			#mytable {
				width: 700px;
				padding: 0;
				margin: 0
			}
			
			caption {
				padding: 0 0 5px 0;
				width: 700px;
				font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
				text-align: right
			}
			
			th {
				font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
				color: #4f6b72;
				border-right: 1px solid #C1DAD7;
				border-bottom: 1px solid #C1DAD7;
				border-top: 1px solid #C1DAD7;
				letter-spacing: 2px;
				text-transform: uppercase;
				text-align: left;
				padding: 6px 6px 6px 12px;
				background: #CAE8EA url(images/bg_header.jpg) no-repeat
			}
			
			th.nobg {
				border-top: 0;
				border-left: 0;
				border-right: 1px solid #C1DAD7;
				background: none
			}
			
			td {
				border-right: 1px solid #C1DAD7;
				border-bottom: 1px solid #C1DAD7;
				background: #fff;
				font-size: 11px;
				padding: 6px 6px 6px 12px;
				color: #4f6b72
			}
			
			td.alt {
				background: #F5FAFA;
				color: #797268
			}
			
			th.spec {
				border-left: 1px solid #C1DAD7;
				border-top: 0;
				background: #fff url(images/bullet1.gif) no-repeat;
				font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif
			}
			
			th.specalt {
				border-left: 1px solid #C1DAD7;
				border-top: 0;
				background: #f5fafa url(images/bullet2.gif) no-repeat;
				font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
				color: #797268
			}
			
			html>body td {
				font-size: 11px
			}
		</style>
		<h2>签到数据列表:</h2>
		<table id="mytable" cellspacing="0" border="1" bordercolor="#C1DAD7">
			<caption> </caption>
			<tr>
				<th scope="col">昵称</th>
				<th scope="col">签到时间</th>
				<th scope="col">新增积分经验</th>
				<th scope="col">连续签到（天）</th>
				<th scope="col">总积分</th>
				<th scope="col">总经验</th>
				<th scope="col">总金币</th>
				<th scope="col">声望</th>
				<th scope="col">等级</th>
			</tr>
			//签到数据
			<% for(let i = 0; i < logoInfoSign.length; i++) {
				let info = logoInfoSign[i]; %>
			<tr>
				<th scope="row" class="<%=(i%2==0 ? 'spec' : 'specalt')%>"><%=info.cookie%></th>
				<td><%= info.date %></td>
				<td><%= info.jsonData.add_point%></td>
				<td><%= info.jsonData.checkin_num%></td>
				<td><%= info.jsonData.point%></td>
				<td><%= info.jsonData.exp%></td>
				<td><%= info.jsonData.gold%></td>
				<td><%= info.jsonData.prestige%></td>
				<td><%= info.jsonData.rank%></td>
			</tr>
			<%}%>
		</table> <br/><br/>
		<hr/><br/><br/>
		<h2>评论数据列表:</h2>
		<table id="mytable" cellspacing="0" border="1" bordercolor="#C1DAD7">
			<caption> </caption>
			<tr>
				<th scope="col">昵称</th>
				<th scope="col">评论时间</th>
				<th scope="col">评论内容</th>
				<th scope="col">昵称</th>
				<th scope="col">新增积分</th>
				<th scope="col">新增经验</th>
				<th scope="col">新增金币</th>
				<th scope="col">新增声望</th>
				<th scope="col">评论id</th>
			</tr>

			<%for(let i = 0; i < logoInfoCommit.length; i++) {
			let info = logoInfoCommit[i];%>
			<tr>
				<th scope="row" class="<%=(i%2==0 ? 'spec' : 'specalt')%>"><%=info.cookie%></th>
				<td><%=info.jsonData.format_date_client%></td>
				<td><%=info.jsonData.comment_content%></td>
				<td><%=info.jsonData.display_name%></td>
				<td><%=info.jsonData.post_points%></td>
				<td><%=info.jsonData.post_experience%></td>
				<td><%=info.jsonData.post_gold%></td>
				<td><%=info.jsonData.post_prestige%></td>
				<td><%=info.jsonData.comment_ID%></td>
			</tr>
			<%}%>
		</table>
	</body>
</html>